@font-face {
  font-family: 'LevenimMT';
  src: url('../fonts/LevenimMT.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
}

p {
  margin: 0 0 1.4em;
}

body, textarea:focus, input:focus{
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h2 {
  margin: 0 20px 0 0;
  color: #fff;
  line-height: 90px;
  text-align: right;
  font-size: 3em;
}

h3 {
  margin-top: 0;
  text-transform: uppercase;
  color: #005790;
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 3em;
  }
}

.container {
  max-width: 1130px;
}

.header {
  background-color: #005793;
  height: 125px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    display: block;
  }
}

.logo {
  padding: 36px 0 0 30px;
}

.tagline {
  color: #fff;
  margin: 70px 20px 0 0;
}

.script-font {
  font-family: $script-font;
}

.navbar {
  margin: 0;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #005790;
  border-radius: 0;
  -moz-box-shadow:    1px 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:         1px 1px 1px 2px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 768px) {
  .navbar {
    border-bottom: 2px solid #005790;
  }
}

.navbar-fixed-top {
  margin: 0;
  -moz-box-shadow:    1px 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:         1px 1px 1px 2px rgba(0,0,0,0.2);
}

.navbar-fixed-top .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-nav > li > a.home-button {
  padding: 0 10px;
  line-height: 50px;
}

.navbar-default .navbar-brand {
  color: #005790;
  font-weight: bold;
}

.container > .navbar-header {
  background-color: #005790;
}

.navbar-default .navbar-toggle {
  background-color: #fff;
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-brand img {
  max-height: 36px;
}

.image-row {
  background-color: #f1f1f1;
}

.section-image {
  height: 200px;
}

@media only screen and (min-width: 768px) {
  .section-image {
    margin: 0 auto;
    height: 424px;
  }
}

.about-image {
  background: #fff url(../images/section-image-1.jpg) no-repeat top center;
}

@media only screen and (min-width: 768px) {
  .about-image {
    background: #fff url(../images/section-image-1.jpg) no-repeat center -90px;
  }
}

.platform-image {
  background: #fff url(../images/section-image-2.jpg) no-repeat top center;
}

.contact-image {
  background: #fff url(../images/section-image-3.jpg) no-repeat top center;
}

.donate-image {
  background: #fff url(../images/section-image-4.jpg) no-repeat center;
}

.about-image, .platform-image, .contact-image, .donate-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1130px;
}

.contact-links {
  margin-bottom: 30px;
  padding: 0 20px 0;
}

.contact-button {
  display: block;
  margin: 0 auto;
  width: 342px;
  max-width: 100%;
  height: 96px;
  line-height: 96px;
  background-color: #2175b5;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #005793;
}

.contact-button:hover {
  color: #fff;
  text-decoration: none;
}

.donate-content, .social-content {
  text-align: center;
}

.heading {
  margin: 0 -15px 0;
  background-color: #f1f1f1;
  height: 93px;
}

.heading > .container {
  background-color: #2175b5;
  border-bottom: 1px solid #005793;
  -moz-box-shadow:    1px 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:         1px 1px 1px 2px rgba(0,0,0,0.2);
}

.arrow {
  font-size: 40px;
  width: 50%;
  float: left;
}

@media only screen and (min-width: 768px) {
  .arrow {
    margin-top: 50px;
    width: 16.66667%;
    float: none;
    clear: both;
  }
}

.arrow .disabled {
  color: #f1f1f1;
}

.arrow-right, .arrow-left {
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .arrow-right {
    float: right;
    text-align: center;
  }
}

.content {
  margin: 0;
  background-color: #f1f1f1;
}

.content .container {
  padding: 60px 0;
  background-color: #fff;
}

.footer {
  background-color: #005790;
  padding: 30px;
  text-align: center;
}

.footer .logo {
  padding: 0;
}

.footer .tagline.pull-right {
  margin: 0;
  float: none !important;
}

@media only screen and (min-width: 768px) {
  .footer {
    display: block;
    padding: 0 0 80px;
    text-align: center;
  }

  .footer .logo {
    padding: 36px 0 20px;
    display: block;
    margin: 0 auto;
  }
}

.footer img {
  margin-bottom: 10px;
}


.paidFor {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #000;
  background: rgba(0,0,0,0.5);
}

@media only screen and (min-width: 768px) {
  .paidFor {
    max-width: 580px;
    padding: 5px 10px;
    margin: 10px auto 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #000;
    background: rgba(0,0,0,0.5);
  }
}

.social {
  margin-bottom: 10px;
  max-width: 25%;
  border: 1px solid #fff;
}

#mc_embed_signup {
  margin: 0 auto 18px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  max-width: 342px;
  display: none;
}

#mc_embed_signup label {
  color: #0fa0f3;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
}

#mc_embed_signup input {
  margin-top: 8px;
  padding: 10px;
  font-size: 16px;
  color: #66696b;
  width: 100%;
  height: 36px;
  border: 2px solid #007dbd;
}

#mc_embed_signup button {
  background: url(../images/submit.jpg) no-repeat;
  margin-top: 10px;
  width: 54px;
  height: 43px;
  border: none;
  text-indent: -9999px;
}

@media only screen and (min-width: 22.625em) {
  .paidFor {
    padding: 10px;
  }

  #mc_embed_signup {
    background: url(../images/emailSignup.jpg) no-repeat; 
    width: 342px;
    height: 155px;
    margin: 0 auto 18px;
    padding: 2px 18px;
    border: none;
  }

  #mc_embed_signup.valid{
    background: url(../images/emailSignupValid.jpg) no-repeat; 
    -webkit-transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -ms-transition: background-image 0.2s ease-in-out;
    -o-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 33px 36px;
    text-align: center;
  }
  
  #mc_embed_signup label {
    line-height: 58px;
    text-align: center;
    color: #0fa0f3;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }

  #mc_embed_signup.error label {
    line-height: 18px;
    color: #f30f0f;
    font-size: 13px;
    margin: 0 -18px;
    height: 58px;
    overflow: hidden;
  }

  #mc_embed_signup input {
    margin-top: 33px;
    padding: 0 18px;
    font-size: 18px;
    color: #66696b;
    width: 244px;
    height: 43px;
    border: 2px solid #007dbd;
  }

  #mc_embed_signup button {
    margin-left: 3px;
    background: url(../images/submit.jpg) no-repeat;
    width: 54px;
    height: 43px;
    border: none;
    text-indent: -9999px;
  }
}

@media only screen and (min-width: 45.75em) {

  .paidFor {
    width: auto;
    padding: 10px 10px 2px;
    margin: -61px auto 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #000;
    background: rgba(0,0,0,0.5);
  }

  #mc_embed_signup {
    background: url(../images/emailSignup.jpg) no-repeat; 
    width: 342px;
    height: 155px;
    margin: 0 30px 0;
    padding: 2px 18px;
    border: none;
    position: relative;
    top: 239px;
    float: right;
    display: block;
  }

  #mc_embed_signup label {
    line-height: 58px;
    text-align: center;
    color: #0fa0f3;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }

  #mc_embed_signup input {
    margin-top: 33px;
    padding: 0 18px;
    font-size: 18px;
    color: #66696b;
    width: 244px;
    height: 43px;
    border: 2px solid #007dbd;
  }

  #mc_embed_signup button {
    margin-left: 3px;
    background: url(../images/submit.jpg) no-repeat;
    width: 54px;
    height: 43px;
    border: none;
    text-indent: -9999px;
  }

  .social {
    margin: 0 5px 5px;
    width: 50px;
    height: 50px;
    border: 1px solid #414243;
  }
}